<div class='panel panel-primary'>
	<div class="panel-heading">
		{{title}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">Filter By : </div>
			<div class="col-md-4"><input type="text" [(ngModel)]='filter' /></div>
		</div>
		<div class="row">
			<hr/>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-responsive" *ngIf='products && products.length'>
					<thead>
						<tr>
							<th>
								<button class="btn btn-primary btn-md" (click)='toggleImage()'>Show Images</button>
							</th>
							<th>Product</th>
							<th>Code</th>
							<th>Available</th>
							<th>Price</th>
							<th>5 Star Rating</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='#product of products | productFilter : filter'>
							<td>
								<img [src]='product.imageUrl' [style.width.px]='imageWidth' *ngIf='imageVisible' />
							</td>
							<td>
								<a [routerLink]="['ProdectDetail', {id : product.productId}]"> {{product.productName}} </a>
							</td>
							<td>{{product.productCode | lowercase}}</td>
							<td>{{product.releaseDate}}</td>
							<td>{{product.price | currency: 'USD' :true : '1.2-2'}}</td>
							<td>
								<ai-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></ai-star>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>